@import "../utils/utils";

.home-page {
  @include adaptiveValue("margin-top", 70, 50);
  @include adaptiveValue("margin-bottom", 70, 50);
  &__body {
    padding-top: rem(25);
    display: grid;
    gap: rem(20);
    @media (min-width: $mobileSmall) {
      @include gridCards(fit, rem(320), 1fr, rem(20));
    }
  }
}