@import "../utils/utils";
.page-title {
  @include adaptiveValue("font-size", 45, 25);
  font-weight: 700;
  line-height: 150%;
  &:not(:last-child) {
      margin-bottom: em(15, 45);
  }
}

.pagination {
  padding-top: rem(45);
  display: flex;
  justify-content: center;
  text-align: center;
  &__body {
    display: flex;
    align-items: center;
    gap: rem(4);
  }
  &__btn {
    border-radius: rem(8);
    width: rem(25);
    height: rem(25);
    background: $mainColor;
    color: #ffffff;
    font-size: rem(12);
    font-weight: 500;
    transition: background .3s linear;
    &:disabled {
      background: $disabled-pagination-color;
    }
    svg {
      transform: translateY(10%);
      font-size: rem(16);
    }
    &.active {
      background: $hover-link-color;
    }
    &:not(&:disabled) {
      @media (any-hover: hover){
        &:hover {
          background: $hover-pagination-color;
        }
      }
    }
  }
}

.page {
  @include adaptiveValue("margin-top", 70, 50);
  @include adaptiveValue("margin-bottom", 70, 50);
}

.input {
  border: rem(1) solid $mainColor;
  border-radius: rem(8);
  padding: rem(8) rem(10);
  outline: none;
  @media (max-width:$mobileSmall) {
    width: 100%;
  }
}

.textarea {
  border: rem(1) solid $mainColor;
  border-radius: rem(8);
  padding: rem(8) rem(10);
  outline: none;
  height: rem(200);
  resize: none;
}

.label {
  &__name {
    display: block;
    &:not(:last-child) {
        margin-bottom: rem(8);
     }
  }
  &__error {
    padding-top: rem(7);
    color: red;
    height: rem(35);
  }
  &.error {
    > input {
      border-color: red;
      &::placeholder {
        color: red;
      }
    }
    > textarea {
      border-color: red;
      &::placeholder {
        color: red;
      }
    }
  }
}

.submit-button {
  display: inline-block;
  width: rem(250);
  height: rem(40);
  border-radius: rem(8);
  margin-left: auto;
  transition: background .3s linear;
  @media (max-width:$mobileSmall) {
    width: 100%;
  }
  &-default {
    background: $mainColor;
    color: #ffffff;
    @media (any-hover: hover){
      &:hover {
        background: $hover-link-color;
      }
    }
  }
  &-delete {
    background: $delete-button-color;
    color: #ffffff;
    @media (any-hover: hover){
      &:hover {
        background: $hover-link-color;
      }
    }
  }
}

.button-link {
  border-radius: rem(8);
  background: $add-button-color;
  color: #ffffff;
  padding: rem(12) rem(18);
  transition: background .3s linear;
  @media (any-hover: hover){
    &:hover {
      background: $add-hover-button-color;
    }
  }
  &-edit {
    background: $edit-button-color;
    @media (any-hover: hover){
      &:hover {
        background: $edit-hover-button-color;
      }
    }
  }
}
