@import "../utils/utils";

.header {
  padding: rem(16) 0;
  border-bottom: rem(1) solid $header-border-color;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(8);
    > .router-link {
     img {
       @include adaptiveValue("width", 150, 80);
       @media (max-width:$mobileSmall) {
          transform: translateY(15%);
       }
     }
    }
  }
}

.header-menu {
  &__list {
    display: flex;
    @include adaptiveValue("gap", 15, 8);
    align-items: center;
  }
  &__item {
    > .router-link {
      @include adaptiveValue("font-size", 16, 13);
      font-weight: 600;
      transition: color .4s linear;
      @media (any-hover: hover){
          &:hover {
              color: $hover-link-color;
          }
      }
      &.active {
        color: $hover-link-color;
      }
    }
    > .submit-button {
        width: rem(80);
    }
  }
}
