$mainColor: #424551;
$header-border-color: #2a2929;
$hover-link-color: #B00100;
$hover-pagination-color: #a40a00;
$disabled-pagination-color: #888888;
$shadow: #1C1E2214;
$error-color: red;
$edit-button-color: #ff5900;
$edit-hover-button-color: #c44907;
$delete-button-color: #e82e0c;
$add-button-color: #397540;
$add-hover-button-color: #153f19;