@import "../utils/utils";

.article-page {
  display: flex;
  flex-direction: column;
  box-shadow: 0 rem(8) rem(16) 0 $shadow;
  border-radius: rem(8);
  background: $color-white;
  transition: box-shadow .3s ease 0s;
  &:only-child {
    .article-page {
      &__image img {
        height: auto;
      }
    }
  }
  &__image {
    > img {
      border-radius: rem(10) rem(10) 0 0;
      width: 100%;
      height: auto;
      object-fit: cover;
      @media (min-width: $pc) {
        height: rem(250);
      }
    }
  }
  &__content {
    padding: rem(16);
    flex: 1 1 auto;
  }
  &__title {
    padding-top: rem(12);
    font-weight: 600;
    font-size: rem(20);
    &:not(:last-child) {
        margin-bottom: em(15, 20);
    }
  }
  @media (any-hover: hover){
    &:hover {
      box-shadow: rem(10) rem(30) rem(30) 0 $shadow;
    }
  }
  &__admin {
    display: flex;
    gap: rem(8);
    padding: rem(8);
    justify-content: flex-end;
    align-items: center;
    > button {
      margin-left: 0;
    }
  }
}